{
    "presets": [
        ["babel-preset-env", {
            "targets": {
                "node": "10.16.0"
            }
        }]
    ],
    "plugins": [
      "transform-runtime",
      "transform-decorators-legacy"
    ]
}
