<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header text-center">Project 2 (Please refresh after create and delete)</h1>
    </div>

    <div>
      <button (click)="createRecipe()" type="button" class="btn btn-primary" tooltip="Create a new recipe!">Create Recipe</button>
    </div>
    <h2>Recipes：</h2>
    <table class="table">
      <thead>
      <tr>
        <th class="col-xs-3 col-sm-2 col-md-2 col-lg-2">Name</th>
        <th class="hidden-xs col-sm-2 col-md-2 col-lg-2">Description</th>
        <th class="col-xs-3 col-sm-2 col-md-2 col-lg-2">Prep time</th>
        <th class="col-xs-3 col-sm-2 col-md-2 col-lg-2">Cooking time</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let recipe of recipes">
        <td class="col-xs-3 col-sm-2 col-md-2 col-lg-2">{{recipe.name}}</td>
        <td class="hidden-xs col-sm-2 col-md-2 col-lg-2">{{recipe.description}}</td>
        <td class="col-xs-3 col-sm-2 col-md-2 col-lg-2">{{recipe.prepTime}}</td>
        <td class="col-xs-3 col-sm-2 col-md-2 col-lg-2">{{recipe.cookTime}}</td>
        <td>
          <button [routerLink]="['/recipes', recipe._id]"
                  type="button" class="btn btn-primary" tooltip="See details!">Details
          </button>
        </td>
        <td>
          <button (click)="editRecipe(recipe)"
                  type="button" class="btn btn-primary" tooltip="Edit this recipe!">Edit Recipe
          </button>
        </td>
        <td>
          <button (click)="deleteRecipe(recipe)"
                  type="button" class="btn btn-primary" tooltip="Are your sure?">Delete Recipe
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <div>
      <button (click)="createUser()" type="button" class="btn btn-primary" tooltip="Create a new user！">Create User</button>
    </div>
    <h2>Users：</h2>
    <table class="table">
      <thead>
      <tr>
        <th class="hidden-xs col-sm-2 col-md-2 col-lg-2">First Name</th>
        <th class="hidden-xs col-sm-2 col-md-2 col-lg-2">Last Name</th>
        <th class="col-xs-3 col-sm-2 col-md-2 col-lg-2">User name</th>
        <th class="col-xs-3 col-sm-2 col-md-2 col-lg-2">E-mail</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td class="hidden-xs col-sm-2 col-md-2 col-lg-2">{{user.name.firstName}}</td>
        <td class="hidden-xs col-sm-2 col-md-2 col-lg-2">{{user.name.lastName}}</td>
        <td class="col-xs-3 col-sm-2 col-md-2 col-lg-2">{{user.username}}</td>
        <td class="col-xs-3 col-sm-2 col-md-2 col-lg-2">{{user.email}}</td>
        <td>
          <button [routerLink]="['/users', user._id]"
                  type="button" class="btn btn-primary" tooltip="See details!">Details
          </button>
        </td>
        <td>
          <button (click)="editUser(user)"
                  type="button" class="btn btn-primary" tooltip="Edit this user!">Edit User
          </button>
        </td>
        <td>
          <button (click)="deleteUser(user)"
                  type="button" class="btn btn-primary" tooltip="Are your sure?"> Delete User
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
