<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Lab 15: Bootstrap CSS</h1>

      <div class="row">
        <div class="col-xs-12 col-12 col-md-4 form-group">
          <input type="text"
                 placeholder="Date Picker"
                 class="form-control"
                 bsDatepicker>
        </div>

        <h1>Enter a value here: <input [(ngModel)]="input"></h1>

      <h2>You entered: {{ input }}</h2>

      <h1>Contents of values array:</h1>
      <ul>
        <li *ngFor="let value of values">{{ value }}</li>
      </ul>

      <hr size="5">
      <h1>{{ valueToSquare }} * {{ valueToSquare }} = {{ valueToSquare | square }}</h1>

        <hr size="5">
        <button (click)="createUser()" type="button" class="btn btn-default">Create new User</button>
        <table class="table-responsive table-striped table-bordered">
          <thead>
          <tr>
          <th class = "col-xs-12 col-sm-6 col-md-4 col-lg-3">Id</th>
          <th class = "col-xs-12 col-sm-6 col-md-4 col-lg-3">Age</th>
          <th class = "col-xs-12 col-sm-6 col-md-4 col-lg-3">First Name</th>
          <th class = "hidden-xs col-sm-6 col-md-4 col-lg-3">Middle Name</th>
          <th class = "col-xs-12 col-sm-6 col-md-4 col-lg-3">Last Name</th>
          <th class = "hidden-xs hidden-sm col-md-4 col-lg-3">Address Line 1</th>
          <th class = "hidden-xs hidden-sm col-md-4 col-lg-3">Address Line 2</th>
          <th class = "hidden-xs col-sm-6 col-md-4 col-lg-3">City</th>
          <th class = "hidden-xs col-sm-6 col-md-4 col-lg-3">State</th>
          <th class = "hidden-xs col-sm-6 col-md-4 col-lg-3">Zip</th>
          <th class = "hidden-xs col-sm-6 col-md-4 col-lg-3">Edit User</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>
            <button [routerLink]="['/users', user._id]"
                    type="button" class="btn btn-default">{{user._id}}
            </button>
          </td>
          <td class = "col-xs-12 col-sm-6 col-md-4 col-lg-3">{{user.age}}</td>
          <td class = "col-xs-12 col-sm-6 col-md-4 col-lg-3">{{user.name.firstName}}</td>
          <td class = "hidden-xs col-sm-6 col-md-4 col-lg-3">{{user.name.middleName}}</td>
          <td class = "col-xs-12 col-sm-6 col-md-4 col-lg-3">{{user.name.lastName}}</td>
          <td class = "hidden-xs hidden-sm col-md-4 col-lg-3">{{user.address.addressLine1}}</td>
          <td class = "hidden-xs hidden-sm col-md-4 col-lg-3">{{user.address.addressLine2}}</td>
          <td class = "hidden-xs col-sm-6 col-md-4 col-lg-3">{{user.address.city}}</td>
          <td class = "hidden-xs col-sm-6 col-md-4 col-lg-3">{{user.address.state}}</td>
          <td class = "hidden-xs col-sm-6 col-md-4 col-lg-3">{{user.address.zip}}</td>
          <td class = "hidden-xs col-sm-6 col-md-4 col-lg-3">
          <button (click)="updateUser(user)"
                    type="button" class="btn btn-default">Edit User
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div>
      <button [routerLink]="['/about']">About the Author</button>
    </div>

  </div>
    <div class = "row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <button [routerLink]="['/users', users[0]._id]"
                type="button" class="btn btn-default">{{users[0]._id}}
        </button>
      </div>
      <td class = "col-xs-12 col-sm-12 col-md-1 col-lg-1">{{users[0].age}}</td>
      <td class = "col-xs-12 col-sm-12 col-md-1 col-lg-1">{{users[0].name.firstName}}</td>
      <td class = "col-xs-12 col-sm-12 col-md-1 col-lg-1">{{users[0].name.middleName}}</td>
      <td class = "col-xs-12 col-sm-12 col-md-1 col-lg-1">{{users[0].name.lastName}}</td>
      <td class = "col-xs-12 col-sm-12 hidden-md hidden-lg">{{users[0].address.addressLine1}}</td>
      <td class = "col-xs-12 col-sm-12 hidden-md hidden-lg">{{users[0].address.addressLine2}}</td>
      <td class = "col-xs-12 col-sm-12 col-md-1 col-lg-1">{{users[0].address.city}}</td>
      <td class = "col-xs-12 col-sm-12 col-md-1 col-lg-1">{{users[0].address.state}}</td>
      <td class = "col-xs-12 col-sm-12 col-md-1 col-lg-1">{{users[0].address.zip}}</td>
    </div>

  </div>
