<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Lab 13: ngx-bootstrap Modal Dialogs</h1>

      <h1>Enter a value here: <input [(ngModel)]="input"></h1>

      <h2>You entered: {{ input }}</h2>

      <h1>Contents of values array:</h1>
      <ul>
        <li *ngFor="let value of values">{{ value }}</li>
      </ul>

      <hr size="5">
      <h1>{{ valueToSquare }} * {{ valueToSquare }} = {{ valueToSquare | square }}</h1>

      <hr size="5">
      <button (click)="createUser()" type="button" class="btn btn-default">Create new User</button>
      <table class="table">
        <thead>
        <tr>
          <th>Id</th>
          <th>Age</th>
          <th>First Name</th>
          <th>Middle Name</th>
          <th>Last Name</th>
          <th>Address Line 1</th>
          <th>Address Line 2</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
          <th>Edit User</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>
            <button [routerLink]="['/users', user._id]"
                    type="button" class="btn btn-default">{{user._id}}
            </button>
          </td>
          <td>{{user.age}}</td>
          <td>{{user.name.firstName}}</td>
          <td>{{user.name.middleName}}</td>
          <td>{{user.name.lastName}}</td>
          <td>{{user.address.addressLine1}}</td>
          <td>{{user.address.addressLine2}}</td>
          <td>{{user.address.city}}</td>
          <td>{{user.address.state}}</td>
          <td>{{user.address.zip}}</td>
          <td>
            <button (click)="updateUser(user)"
                    type="button" class="btn btn-default">Edit User
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div>
      <button [routerLink]="['/about']">About the Author</button>
    </div>
  </div>
</div>
